<h1>Request a Cat</h1>
<form action="<%=cat_rental_requests_url%>" method="post">
    
    <select name="kitty[cat_id]" id="cat">
        <option disabled selected>--Please Select--</option>
        <% CatRentalRequest.all.each do |req| %>
        <option value="<%=req.cat.id%>"><%= req.cat.name %></option>
        <% end %>
    </select>

    <br>
    <label for="start_date" type="text">Start Date:</label>
    <input type="date" id="start_date" name="kitty[start_date]" value="<%= @kitty.start_date %>">
    <br>
    <label for="end_date" type="text">End Date:</label>
    <input type="date" id="end_date" name="kitty[end_date]" value="<%= @kitty.end_date %>">
    <br>
    <input type="hidden" name="kitty[status]" id="status" value="<%= "PENDING" %>">
    <input type="submit" value="Request" >
    <br>
</form>